@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Racing+Sans+One&display=swap');

html,
body{
    height: 100%;
    width: 100%;
    background-color: #232222;
    overflow: hidden;
}

.racing-sans {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bilbo {
  font-family: "Bilbo", cursive;
  font-weight: 400;
  font-style: normal;
}

.brand {
  background: -webkit-linear-gradient(#ABA29A, #45413E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient{
  width: 516px;
  height: 425px;
  
  background: #45413E;
  opacity: 0.28;
  filter: blur(80.1px);
}

