@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Racing+Sans+One&display=swap');

html,
body{
    height: 100%;
    width: 100%;
    background-color: #232222;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 768px) {
  html,
  body {
    overflow: hidden;
  }
}

.racing-sans {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bilbo {
  font-family: "Bilbo", cursive;
  font-weight: 400;
  font-style: normal;
}

.brand {
  background: -webkit-linear-gradient(#ABA29A, #45413E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient{
  width: 200px;
  height: 200px;
  background: #45413E;
  opacity: 0.28;
  filter: blur(60px);
}

@media (min-width: 640px) {
  .gradient {
    width: 300px;
    height: 300px;
    filter: blur(70px);
  }
}

@media (min-width: 768px) {
  .gradient {
    width: 400px;
    height: 350px;
    filter: blur(75px);
  }
}

@media (min-width: 1024px) {
  .gradient {
    width: 516px;
    height: 425px;
    filter: blur(80.1px);
  }
}

@media (min-width: 1536px) {
  .gradient {
    width: 600px;
    height: 500px;
    filter: blur(90px);
  }
}

